{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- side navbar -->
    {% include "navigation.html" %}
    <div class="main">

        <!--  top navbar  -->
        {% include "top-navigation.html" %}

        <!--  main content  -->
        <main class="content">


            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        기초 정보 등록
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/information/">기초 정보 등록</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xl-2">

                        <div class="card">

                            <div class="list-group list-group-flush" role="tablist">
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#category"
                                   role="tab">
                                    제품
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#product-size"
                                   role="tab">
                                    제품 옵션 - 사이즈
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#product-sheet"
                                   role="tab">
                                    제품 옵션 - 시트
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#product-filling"
                                   role="tab">
                                    제품 옵션 - 필링
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#product-box"
                                   role="tab">
                                    제품 옵션 - 포장
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#order-path"
                                   role="tab">
                                    주문 유입 경로
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#pay-type"
                                   role="tab">
                                    결제 유형
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#deliver-type"
                                   role="tab">
                                    배송 유형
                                </a>
                                <a class="list-group-item list-group-item-action active" data-toggle="list"
                                   href="#employee"
                                   role="tab">
                                    직원
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-xl-10">
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="employee" role="tabpanel">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">직원</h5>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_length" id="filter-employee">
                                                    <label>
                                                        <select name="datatables-clients_length"
                                                                aria-controls="datatables-clients"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                        </select>
                                                    </label>
                                                    개씩 보기
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" style="text-align:right">
                                                <div id="search-employee" class="dataTables_filter">
                                                    <label>
                                                        <input type="search" class="form-control form-control-sm"
                                                               placeholder="" aria-controls="datatables-clients">
                                                    </label>
                                                    <button class="btn btn-primary">검색</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card">
                                            <!-- employee form -->
                                            <form action="{% url 'information:emp_insert' %}" method="GET">
                                                <table class="table">
                                                    <thead>
                                                    <!-- 표 양식 -->
                                                    <tr>
                                                        <th style="width:15%;">번호</th>
                                                        <th style="width:10%">이름</th>
                                                        <th style="width:10%">직급</th>
                                                        <th style="width:15%">입사일</th>
                                                        <th style="width:10%">퇴사일</th>
                                                        <th style="width:15%">권한</th>
                                                        <th style="width:20%;"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <!-- 새로운 정보를 입력받을 공란 -->
                                                    <tr>
                                                        <td>{{ last_id }}</td>
                                                        <td><input type="text" placeholder="입력" name="emp_name"></td>
                                                        <td><input type="text" placeholder="입력" name="emp_rank"></td>
                                                        <td><input type="text" placeholder="입력" name="emp_hire"></td>
                                                        <td><input type="text" placeholder=" -" name="emp_fire" readonly></td>
                                                        <td>
                                                            <select name="emp_auth">
                                                                <option>==선택==</option>
                                                                <option>관리자</option>
                                                                <option>사원</option>
                                                            </select>
                                                        </td>
                                                        <td class="table-action" style="text-align: center;">
                                                            <button class="btn mb-1 btn-primary" type="submit">등록
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                            <!-- employee form end -->
                                            <table class="table">
                                                <thead>
                                                <!-- 표 양식 -->
                                                <tr>
                                                    <th style="width:15%;"></th>
                                                    <th style="width:10%"></th>
                                                    <th style="width:10%"></th>
                                                    <th style="width:15%"></th>
                                                    <th style="width:10%"></th>
                                                    <th style="width:15%"></th>
                                                    <th style="width:20%;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- DB에서 조회할 정보 / 내림차순 정렬 -->
                                                {% for i in employee_table %}
                                                    <tr id="databox_{{ i.employee_id }}">
                                                        <td class="d-none d-md-table-cell">{{ i.employee_id }} </td>
                                                        <td class="d-none d-md-table-cell">{{ i.employee_name }} </td>
                                                        <td class="d-none d-md-table-cell">{{ i.employee_rank }} </td>
                                                        <td class="d-none d-md-table-cell">{{ i.hiredate }} </td>
                                                        <td class="d-none d-md-table-cell">{{ i.firedate }} </td>
                                                        <td class="d-none d-md-table-cell">{{ i.employee_auth }} </td>
                                                        <td class="" style="text-align: center;">
                                                            <button class="btn mb-1 btn-danger" id="changeBtn_{{ i.employee_id }}"
                                                                    onclick="changeBtn({{ i.employee_id }})">수정
                                                            </button>
                                                            <button class="btn btn-success" id="confirmBtn_{{ i.employee_id }}"
                                                                    style="display: none" onclick="deleteEmp({{ i.employee_id }});">
                                                                <i class="fas fa-check"></i>
                                                            </button>
                                                            <button class="btn btn-danger" id="deleteBtn_{{ i.employee_id }}" style="display: none">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static '/dist/js/app.js' %}"></script>
    <script src="{% static '/dist/js/settings.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        <!-- 수정 버튼 클릭 -->
        function changeBtn(id) {

            event.preventDefault();
            var btn = document.getElementById("changeBtn_" + id)
            var btn_confirm = btn.nextSibling.nextSibling;
            var btn_delete = btn_confirm.nextSibling.nextSibling;

            btn.style.display = "none";
            btn_confirm.style.display = "";
            btn_delete.style.display = "";

            var data_tr = document.getElementById("databox_" + id);
            console.log(data_tr);
            {#console.log(data_tr.children);#}

            for(var i = 1; i < 6; i++) {
                console.log(data_tr.children[i]);
                var content = data_tr.children[i].innerHTML;

                data_tr.children[i].innerHTML = "";
                if (i < 3) {
                    data_tr.children[i].innerHTML = "<input type='text' value='" + content + "'>";
                } else if(i === 3) {

                } else if(i === 4) {
                    data_tr.children[i].innerHTML = "<input type='text' value=''>";
                } else if(i === 5) {
                    data_tr.children[i].innerHTML = "<select name='update_auth'><option selected>==선택==</option><option >관리자</option><option>사원</option></select>";
                }
            }

            console.log(data_tr.children);

            var name = data_tr.children;
            name[1].firstChild.setAttribute('name', 'update_name');
            name[2].firstChild.setAttribute('name', 'update_rank');
            name[3].firstChild.setAttribute('name', 'update_hire');
            name[4].firstChild.setAttribute('name', 'update_fire');

        }

        <!-- 삭제 버튼 클릭 -->
        function getCookie(name) {
                console.log(1);
                var cookieValue = null;
                if(document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for(var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if(cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            var xhr;

        function deleteEmp(id) {
             if(confirm('삭제하시겠습니까?') == false) {
                    return false;
                }

                var strurl = "emp_delete?employee_id=" + id;

                xhr = new XMLHttpRequest();
                console.log(xhr);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState == 4) {
                        var data = xhr.responseText;
                        console.log(data);
                        document.getElementById("databox_" + id).style.display = "none";

                        var obj = JSON.parse(data);
                        alert(obj.result_msg);

                    }
                }
                xhr.open("GET", strurl);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.send(null);
        }
    </script>

{% endblock javascript %}