{# ---------- 고기우 작업 ---------- #}
{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- side navbar -->
    {% include "navigation.html" %}
    <div class="main">

        <!--  top navbar  -->
        {% include "top-navigation.html" %}

        <!--  main content  -->
        <main class="content">


            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        기초 정보 등록
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/information/">기초 정보 등록</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xl-2">

                        <div class="card">
                            <!--
                            <div class="card-header">
                                <h5 class="card-title mb-0">기초 정보 등록</h5>
                            </div>
                            -->

                            <div class="list-group list-group-flush" role="tablist">
                                <a class="list-group-item list-group-item-action active" data-toggle="list"
                                   href="#category"
                                   role="tab">
                                    제품
                                </a>
                                <!--                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#product" role="tab">-->
                                <!--                                제품 등록-->
                                <!--                            </a>-->
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#product-size"
                                   role="tab">
                                    제품 옵션 - 사이즈
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#product-sheet"
                                   role="tab">
                                    제품 옵션 - 시트
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#product-filling"
                                   role="tab">
                                    제품 옵션 - 필링
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#product-box"
                                   role="tab">
                                    제품 옵션 - 포장
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#order-path"
                                   role="tab">
                                    주문 유입 경로
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#pay-type"
                                   role="tab">
                                    결제 유형
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                   href="#deliver-type"
                                   role="tab">
                                    배송 유형
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#employee"
                                   role="tab">
                                    직원
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-xl-10">
                        <div class="tab-content">








                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static '/dist/js/app.js' %}"></script>
    <script src="{% static '/dist/js/settings.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>


{% endblock javascript %}