{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="splash active">
    <div class="splash-icon"></div>
</div>
<!-- side navbar -->
{% include "navigation.html" %}
<div class="main">

    <!--  top navbar  -->
    {% include "top-navigation.html" %}

    <!--  main content  -->
    <main class="content">
        <div class="container-fluid">

            <div class="header">
                <h1 class="header-title">
                    기초 정보 등록
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/information/">기초 정보 등록</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Settings</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-3 col-xl-2">

                    <div class="card">
                        <!--
                        <div class="card-header">
                            <h5 class="card-title mb-0">기초 정보 등록</h5>
                        </div>
                        -->

                        <div class="list-group list-group-flush" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#category" role="tab">
                                제품 카테고리
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#product" role="tab">
                                제품 등록
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#product-size" role="tab">
                                제품 옵션 - 사이즈
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#product-sheet" role="tab">
                                제품 옵션 - 시트
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#product-filling" role="tab">
                                제품 옵션 - 필링
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#product-box" role="tab">
                                제품 옵션 - 포장
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#order-path" role="tab">
                                주문 유입 경로
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#pay-type" role="tab">
                                결제 유형
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#deliver-type" role="tab">
                                배송 유형
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#employee" role="tab">
                                직원
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-xl-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="category" role="tabpanel">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Category</h5>

                                    <h3>카테고리 등록하세요</h3>

                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="product" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Product</h5>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Basic Table</h5>
                                            <h6 class="card-subtitle text-muted">Using the most basic table markup, here’s how .table-based tables look in Bootstrap.
                                            </h6>
                                        </div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th style="width:40%;">Name</th>
                                                <th style="width:25%">Phone Number</th>
                                                <th class="d-none d-md-table-cell" style="width:25%">Date of Birth</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Michelle Bilodeau</td>
                                                <td>864-348-0485</td>
                                                <td class="d-none d-md-table-cell">June 21, 1961</td>
                                                <td class="table-action">
                                                    <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></i></a>
                                                    <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Alexander Groves</td>
                                                <td>914-939-2458</td>
                                                <td class="d-none d-md-table-cell">May 15, 1948</td>
                                                <td class="table-action">
                                                    <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></i></a>
                                                    <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Kathie Burton</td>
                                                <td>704-993-5435</td>
                                                <td class="d-none d-md-table-cell">September 14, 1965</td>
                                                <td class="table-action">
                                                    <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></i></a>
                                                    <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Daisy Seger</td>
                                                <td>765-382-8195</td>
                                                <td class="d-none d-md-table-cell">April 2, 1971</td>
                                                <td class="table-action">
                                                    <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></i></a>
                                                    <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Amanda Jones</td>
                                                <td>202-672-1407</td>
                                                <td class="d-none d-md-table-cell">October 12, 1966</td>
                                                <td class="table-action">
                                                    <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></i></a>
                                                    <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product-size" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Size</h5>

                                    <h3>사이즈 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product-sheet" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Sheet</h5>

                                    <h3>시트 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product-filling" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Filling</h5>

                                    <h3>필링 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product-box" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Box</h5>

                                    <h3>포장 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="order-path" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Order Path</h5>

                                    <h3>주문 유입 경로 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pay-type" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Pay Type</h5>

                                    <h3>결제 방법 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="deliver-type" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Delivery</h5>

                                    <h3>배송 방법 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="employee" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">직원</h5>

                                    <h3>직원 등록하세요</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}
</div>

{% endblock %}