{# ---------- 고기우 작업 ---------- #}
{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- side navbar -->
    {% include "navigation.html" %}
    <div class="main">

        <!--  top navbar  -->
        {% include "top-navigation.html" %}

        <!--  main content  -->
        <main class="content">


            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        기초 정보 등록
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/information/">기초 정보 등록</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xl-2">

                        <div class="card">

                            <div class="list-group list-group-flush" role="tablist">
                                <a class="list-group-item list-group-item-action" href="product"
                                   role="tab">
                                    제품
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="size"
                                   role="tab">
                                    제품 옵션 - 사이즈
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="sheets"
                                   role="tab">
                                    제품 옵션 - 시트
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="filling"
                                   role="tab">
                                    제품 옵션 - 필링
                                </a>
                                <a class="list-group-item list-group-item-action" href="boxing"
                                   role="tab">
                                    제품 옵션 - 포장
                                </a>
                                <a class="list-group-item list-group-item-action active" href="order_type"
                                   role="tab">
                                    주문 유입 경로
                                </a>
                                <a class="list-group-item list-group-item-action" href="pay_type"
                                   role="tab">
                                    결제 유형
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="delivery"
                                   role="tab">
                                    배송 유형
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="emp"
                                   role="tab">
                                    직원
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-xl-10">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="order-path" role="tabpanel">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">주문 경로</h5>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_length" id="filter-order">
                                                    <label>
                                                        <select name="datatables-clients_length"
                                                                aria-controls="datatables-clients"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                        </select>
                                                    </label>
                                                    개씩 보기
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" style="text-align:right">
                                                <div id="search-order" class="dataTables_filter">
                                                    <label>
                                                        <input type="search" class="form-control form-control-sm"
                                                               placeholder="" aria-controls="datatables-clients">
                                                    </label>
                                                    <button class="btn btn-primary">검색</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th><input type="checkbox" name="allSelect"></th>
                                                    <th style="width:15%;">번호</th>
                                                    <th style="width:60%">주문 경로</th>
                                                    <th style="width:20%;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- 새로운 정보를 입력받을 공란 -->
                                                <tr>
                                                    <td><input type="checkbox" name="select"></td>
                                                    <td>5</td>
                                                    <td><input type="text" placeholder="입력"></td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn mb-1 btn-primary">등록</button>
                                                    </td>
                                                </tr>
                                                <!-- DB에서 조회할 정보 / 내림차순 정렬 -->
                                                <tr>
                                                    <td><input type="checkbox" name="select"></td>
                                                    <td>4</td>
                                                    <td class="d-none d-md-table-cell">메세나폴리스</td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn mb-1 btn-danger">수정</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox" name="select"></td>
                                                    <td>3</td>
                                                    <td class="d-none d-md-table-cell">카페24</td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn mb-1 btn-danger">수정</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox" name="select"></td>
                                                    <td>2</td>
                                                    <td class="d-none d-md-table-cell">스마트스토어</td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn mb-1 btn-danger">수정</button>
                                                    </td>
                                                </tr>
                                                <!-- 수정버튼 클릭시 -->
                                                <tr>
                                                    <td><input type="checkbox" name="select"></td>
                                                    <td>1</td>
                                                    <td><input type="text" placeholder="전화주문"></td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn btn-success">
                                                            <i class="fas fa-check"></i>
                                                        </button>
                                                        <button class="btn btn-danger">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static '/dist/js/app.js' %}"></script>
    <script src="{% static '/dist/js/settings.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

{% endblock javascript %}