{# ---------- 박진아 작업 ---------- #}
{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- side navbar -->
{#    {% include "navigation.html" %}#}
    <div class="main">

        <!--  top navbar  -->
        {% include "top-navigation.html" %}
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        주문서 작성
                    </h1>
                </div>

                <!-- 주문서 작성 시작 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'sheet:create_order' %}" method="post" id="create-order">
                                    <!-- 주문 접수자 / 주문일자 / 주문경로 -->
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="employee_name">주문 접수자</label>
                                            <button style="border: none; background-color: transparent" id="">
                                                <i class="align-middle mr-2 fas fa-fw fa-user-friends"></i>
                                            </button>
                                            <select class="form-control select1" data-toggle="select1"
                                                    id="employee" name="employee">
                                                {% for employee in member_table %}
                                                    {% if member_name == employee.member_name %}
                                                        <option selected>{{ employee.member_name }}</option>
                                                    {% else %}
                                                        <option>{{ employee.member_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
{#                                        <div class="form-group col-md-3">#}
{#                                            <label for="order_no">주문 No.</label>#}
{#                                            <input hidden="hidden" type="text" class="form-control" id="" value="20211008_A_001" name="order_no">#}
{#                                        </div>#}
                                        <div class="form-group col-md-4">
                                            <label for="order_date">주문일자</label>
                                            <input type="date" class="form-control" id="order_date" name="order_date">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="order_type_name">주문경로</label>
                                            <select class="form-control select1" data-toggle="select1"
                                                    id="order_type" name="order_type">
                                                {% for order_type in order_type_table %}
                                                    <option>{{ order_type.order_type_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 고객명 / 연락처 / 수령방법 / 납품일자 / 도착시간 -->
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="customer">고객명</label>
                                            <input type="text" class="form-control" id="customer" name="customer" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="customer_phone">연락처</label>
                                            <input type="text" class="form-control" id="customer_phone" name="customer_phone" autocomplete="off" oninput="phone(this)">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="delivery_option_name">수령 방법</label>
                                            <select class="form-control select1" data-toggle="select1"
                                                    id="delivery" name="delivery">
                                                {% for delivery in delivery_table %}
                                                    <option>{{ delivery.delivery_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="receipt_date">납품일자</label>
                                            <button style="border: none; background-color: transparent" id="select-order-person">
                                                <i class="align-middle mr-2 far fa-fw fa-calendar-alt"></i>
                                            </button>
                                            <input type="date" class="form-control" id="currentDate2" name="receipt_date">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="receipt_hour">도착시간</label>
                                            <button style="border: none; background-color: transparent" id="select-order-person">
                                                <i class="align-middle mr-2 far fa-fw fa-clock"></i>
                                            </button>
                                            <select class="form-control select1" data-toggle="select2"
                                                    style="" id="receipt_hour" name="receipt_hour">
                                                <optgroup label="도착시간을 선택해주세요.">
                                                    <option value="1">1:00</option>
                                                    <option value="2">2:00</option>
                                                    <option value="3">3:00</option>
                                                    <option value="4">4:00</option>
                                                    <option value="5">5:00</option>
                                                    <option value="6">6:00</option>
                                                    <option value="7">7:00</option>
                                                    <option value="8">8:00</option>
                                                    <option value="9">9:00</option>
                                                    <option value="10">10:00</option>
                                                    <option value="11">11:00</option>
                                                    <option value="12">12:00</option>
                                                    <option value="13">13:00</option>
                                                    <option value="14">14:00</option>
                                                    <option value="15">15:00</option>
                                                    <option value="16">16:00</option>
                                                    <option value="17">17:00</option>
                                                    <option value="18">18:00</option>
                                                    <option value="19">19:00</option>
                                                    <option value="20">20:00</option>
                                                    <option value="21">21:00</option>
                                                    <option value="22">22:00</option>
                                                    <option value="23">23:00</option>
                                                    <option value="24">24:00</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 품목 -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <span>품목명</span>
                                        </div>
                                    </div>

                                    <!-- ============================================= -->
                                    <div class="card" id="item-card">
                                        <div class="card-body">

                                            <!-- 1번째 품목 -->
                                            <div class="form-group row">
                                                <button class="item-button addnumber" style="margin-left: 50px; border-color: white;
                                                background-color: #153d77; color: white" disabled>1</button>
                                                <div class="col-md-3">
                                                    <div class="ui-widget">
                                                        <input data-id="1" type="text" id="products_1" class="form-control products" name="product_name"
                                                               style="font-family: 'NanumSquareR';" placeholder="품목이름">
                                                    </div>
                                                </div>

                                                <button type="button" class="btn item-button modalbtn"
                                                        style="border-color: white;
                                                background-color: #153d77; color: white" data-id="1"
                                                        data-toggle="modal" data-target="#sizedModalLg">+ 옵션추가</button>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" placeholder="옵션이름"
                                                           id="input-option-result_1" disabled>
                                                    <!-- 옵션 값 (Hidden) -->
                                                    <input type="text" hidden="hidden" id="size-result_1">
                                                    <input type="text" hidden="hidden" id="filling-result_1">
                                                    <input type="text" hidden="hidden" id="sheet-result_1">
                                                    <input type="text" hidden="hidden" id="boxing-result_1">
                                                    <input type="text" hidden="hidden" id="phrase-result_1">
                                                </div>
                                                <div class="col-md-1" style="padding-left: 0">
                                                    <input type="number" class="form-control count_product" data-id="1" id="count_1" placeholder="수량" min="1">
                                                </div>
                                                <label style="padding-right: 20px;" class="col-form-label" for="">개</label>
                                                <button class="item-button" style="border-color: white;
                                                background-color: darkred; color: white">X</button>
                                                <label style="padding-left: 20px;" class="col-form-label" for="">금액</label>
                                                <div class="col-md-2">
                                                    <input type="text" data-price="0" id="price_1" class="form-control price1" placeholder="금액">
                                                </div>
                                            </div>



                                    <!-- ============================================= -->

                                            <!-- 2번째 품목 -->

                                            <!-- 상품 추가 버튼 -->
                                            <div class="form-group row">
                                                <button class="btn btn-block" style="margin-left: 50px; margin-top: 30px;
                                                 background-color: #153d77; color: white; width: 30%;" onclick="addProduct();">
                                                    + 상품 추가
                                                </button>
                                            </div>
                                            <!-- 총 금액 표시 -->
                                            <div class="form-group row" style="float: right; clear: both;">
                                                <label style="padding-left: 20px;" class="col-form-label" for="">총</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" placeholder="금액">
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <!-- 결제금액 / 결제여부 / 결제방법 -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="inputCity">결제금액</label>
                                            <input type="text" name="total_price" class="form-control" id="" autocomplete="off">
                                        </div>
                                        <div class="col-md-4" style="margin-bottom: 16px;">
                                            <label for="inputCity">결제여부</label>
                                            <div class="col-md-6" style="align-items: center;">
                                                <label class="form-check form-check-inline" style="margin-top: 8px; margin-right: 30px;">
                                                    <input class="form-check-input" type="radio" name="pay_check" value="O" data-value="O">
                                                    <span class="form-check-label">완료</span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="pay_check" value="X" data-value="X">
                                                    <span class="form-check-label">미완료</span>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Radio Button result -->
                                        <input type="text" hidden="hidden" id="radio-result" name="radio-result">

                                        <div class="form-group col-md-4" style="margin-left: -150px;">
                                            <label for="order-root">결제 방법</label>
                                            <select class="form-control select1" data-toggle="select1"
                                                    id="pay_type" name="pay_type">
                                                {% for pay in pay_type_table %}
                                                    <option>{{ pay.pay_type_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- 동일인 체크 -->
                                    <div class="form-row" style="margin-top: 20px;">
                                        <div class="form-inline">
                                            <div class="custom-control custom-checkbox mb-1 mr-sm-2">
                                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline"
                                                       style="color: darkgray; font-size: 13px;">주문 고객과 동일</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 수령인명 / 수령인 연락처 -->
                                    <div class="form-row" style="margin-top: 10px;">
                                        <div class="form-group col-md-3">
                                            <label for="inputCity">수령인명</label>
                                            <input type="text" name="recipient" class="form-control" id="recipient" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputCity">수령인 연락처</label>
                                            <input type="tel" name="recipient_phone" class="form-control" id="recipient_phone" autocomplete="off">
                                        </div>
                                    </div>

                                    <!-- 수령인 주소 -->
                                    <div class="form-group row">
                                        <label style="padding-left: 12px;padding-right: 10px;"
                                               class="col-form-label" for="">수령인 주소</label>
                                        <button style="border-color: white;
                                                background-color: #0d8ddc; color: white">우편번호 검색</button>
                                        <div class="col-md-4">
                                            <input type="text" name="address1" class="form-control" id="" autocomplete="off">
                                        </div>
                                        <div class="col-md-4" style="padding-left: 0;">
                                            <input type="text" name="address2" class="form-control" id="" autocomplete="off">
                                        </div>
                                    </div>

                                    <!-- 주문메모 -->
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label class="form-label">주문메모</label>
                                            <textarea style="width: 100%;" class="form-control" name="memo" placeholder="메모 입력" rows="5" cols=""></textarea>
                                        </div>
                                    </div>

                                    <!-- 주문 등록 버튼 -->
                                    <div class="form-group row justify-content-center">
                                        <button type="submit" class="btn btn-lg" style="background-color: darkslategrey; color: white; width: 10%;"
                                                onclick="create_order();">
                                            주문 등록
                                        </button>
                                    </div>

                                    <!-- 상태 -->
                                    <input name="state" type="text" hidden="hidden" id="status" value="주문완료">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- BEGIN  modal -->
                <div class="modal fade" id="sizedModalLg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 style="font-family: 'NanumSquareB;" class="modal-title">옵션 선택</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="option-modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body m-3">
                                <div class="form-group">


                                    <div class="form-floating">
                                        <label for="inputCity">사이즈 옵션</label>
                                        <select id="size-option" class="form-control mb-3">
                                        </select>
                                    </div>

                                    <div class="form-floating">
                                        <label for="inputCity">필링 옵션</label>
                                        <select id="filling-option" class="form-control mb-3">
                                            {% for filling in filling_table %}
                                            <option data-price="{{ filling.filling_price }}" value="{{ filling.filling_name }}">{{ filling.filling_name }} : +{{ filling.filling_price }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-floating">
                                        <label for="inputCity">시트 옵션</label>
                                        <select id="sheet-option" class="form-control mb-3">
                                            {% for sheet in sheet_table %}
                                            <option data-price="{{ sheet.sheet_price }}" value="{{ sheet.sheet_name }}">{{ sheet.sheet_name }} : +{{ sheet.sheet_price }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-floating">
                                        <label for="inputCity">포장 옵션</label>
                                        <select id="boxing-option" class="form-control mb-3">
                                            {% for boxing in boxing_table %}
                                            <option data-price="{{ boxing.boxing_price }}" value="{{ boxing.boxing_name }}">{{ boxing.boxing_name }} : +{{ boxing.boxing_price }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-floating">
                                        <label for="inputCity">문구 옵션</label>
                                        <input id="phrase-option" type="email" class="form-control" placeholder="문구없음">
                                        <input type="hidden" id="phrase_price" value="5000">
                                    </div>
                                </div>

                                <div class="card" id="item-card">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-12" style="margin-top: 16px;">
                                                {#                                                <input type="text" class="input-lg form-control"#}
                                                {#                                                       style="font-family: 'NanumSquareEB'; font-size: 15px;" id=""#}
                                                {#                                                       value="" readonly>#}
                                                <div style="font-family: 'NanumSquareEB'; font-size: 15px;" id="option-result">
                                                </div>
                                                <input type="hidden" id="numbering" value=""/>
                                                <input type="hidden" data-price="0" id="product-price"/>
                                                <div style="margin: 5px 0;" id="div-size-result" data-price="">선택없음</div>
                                                <div style="margin: 5px 0;" id="div-filling-result" data-price="">선택없음</div>
                                                <div style="margin: 5px 0;" id="div-sheet-result" data-price="">선택없음</div>
                                                <div style="margin: 5px 0;" id="div-boxing-result" data-price="">선택없음</div>
                                                <div style="margin: 5px 0;" id="div-phrase-result" data-price="0">문구없음</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary" id="final-option-result">옵션 등록하기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END  modal -->



            </div>
        </main>

        {% include "footer.html" %}
    </div>

{% endblock %}

<style>
    .form-group {
        margin: 0 0 10px 10px;
    }
    label {
        float: left
    }
    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px
    }
    input {
        width: 100%
    }
    #item-card {
        box-shadow: 0 2px 4px 0 rgba(126 142 177 12)
        /*
         * 안먹힘
         */
    }
    button.item-button {
        border-color: white;

    }
</style>

{% block javascript %}
    <script src="{% static '/dist/js/app.js' %}"></script>
    <script src="{% static '/dist/js/settings.js' %}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script type="text/javascript">
        // *** 품목 자동완성
        $(function() {

            // 품목 리스트
            var productList = [];
            {% for product in products_table %}
                productList.push('{{ product.product_name }}')
            {% endfor %}

            // 카테고리 리스트
            var categoryMidList = [];
            {% for category in categories %}
                categoryMidList.push('{{ category.category_mid }}')
            {% endfor %}

            $(".products").autocomplete({
                source: productList,
                select: function(event, ui) {
                },
                focus: function(event, ui) {
                    return false;
                    //event.preventDefault();
                }
            });
        });

    </script>

    <script>

        <!-- 비동기 처리를 위한 사전 처리 -->
        function getCookie(name) {
            console.log(1);
            var cookieValue = null;
            if(document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if(cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        var xhr;

        // *** 주문날짜 Default 값 표시 - order_date (default: currentDate)
        document.getElementById('order_date').value = new Date().toISOString().substring(0, 10);

        // *** 고객 연락처 값 검증 - customer_phone
        function phone(number) {
            number.value = number.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
        }

        // *** 주문고객 수령일 경우 체크
        var check = document.getElementById("customControlInline");
        check.addEventListener("click", function() {
            if(check.checked) {
                var customer = document.getElementById("customer").value;
                var phone = document.getElementById("customer_phone").value;
                document.getElementById("recipient").value = customer;
                document.getElementById("recipient_phone").value = phone;
            } else {
                document.getElementById("recipient").value = '';
                document.getElementById("recipient_phone").value = '';
            }
        });

        // *** 모달창 데이터 전달
        $(".modalbtn").click(function() {
            // 모달창은 페이지 내에 단 1개 존재 - 다른 상품에서 사용할경우 값 초기화 필요
            // *** 옵션 Modal 창 (옵션 선택 시 onchange event 발생)

            // 몇번 상품의 옵션을 호출할 것인지 식별자 - data-id = ''
            var data_id = event.currentTarget.dataset.id;
            console.log('data-id = ' + data_id);
            // data-id 값을 모달창 내부의 numbering태그에 저장, 출력시 식별자로 활용
            var numbering = document.getElementById("numbering");
            numbering.value = data_id;

            // 옵션 선택 결과값을 div-option-result에 저장
            // 옵션 선택 추가 금액을 div-option-result data-price에 저장
            $('#size-option').on('change', function () {
                $sizeOption = document.getElementById('size-option');
                $sizeOptionValue = $sizeOption.options[$sizeOption.selectedIndex].value;
                document.getElementById('div-size-result').innerText = $sizeOptionValue;
                document.getElementById('div-size-result').dataset.price = $sizeOption.options[$sizeOption.selectedIndex].dataset.price;
                $('#size-result_' + data_id).val($sizeOptionValue);
                console.log(document.getElementById('div-size-result').dataset.price);

            });

            $('#filling-option').on('change', function () {
                $fillingOption = document.getElementById('filling-option');
                $fillingOptionValue = $fillingOption.options[$fillingOption.selectedIndex].value;
                document.getElementById('div-filling-result').innerText = $fillingOptionValue;
                document.getElementById('div-filling-result').dataset.price = $fillingOption.options[$fillingOption.selectedIndex].dataset.price;
                $('#filling-result_' + data_id).val($fillingOptionValue);
                console.log(document.getElementById('div-filling-result').dataset.price);
            });
            $('#sheet-option').on('change', function () {
                $sheetOption = document.getElementById('sheet-option');
                $sheetOptionValue = $sheetOption.options[$sheetOption.selectedIndex].value;
                document.getElementById('div-sheet-result').innerText = $sheetOptionValue;
                document.getElementById('div-sheet-result').dataset.price = $sheetOption.options[$sheetOption.selectedIndex].dataset.price;
                $('#sheet-result_' + data_id).val($sheetOptionValue);
                console.log(document.getElementById('div-sheet-result').dataset.price);
            });
            $('#boxing-option').on('change', function () {
                $boxingOption = document.getElementById('boxing-option');
                $boxingOptionValue = $boxingOption.options[$boxingOption.selectedIndex].value;
                document.getElementById('div-boxing-result').innerText = $boxingOptionValue;
                document.getElementById('div-boxing-result').dataset.price = $boxingOption.options[$boxingOption.selectedIndex].dataset.price;
                $('#boxing-result_' + data_id).val($boxingOptionValue);
                console.log(document.getElementById('div-boxing-result').dataset.price);
            });
            $('#phrase-option').on('change', function () {
                var phraseOption = document.getElementById('phrase-option');
                $phraseOptionValue = phraseOption.value;
                document.getElementById('div-phrase-result').innerText = $phraseOptionValue;
                $('#phrase-result_' + data_id).val($phraseOptionValue);

                if($phraseOptionValue == '') {
                    phraseOption.dataset.price = 0;
                    $('#phrase-result_' + data_id).val($phraseOptionValue);
                } else {
                    phraseOption.dataset.price = 5000;
                }
            });


            var product_btn = document.getElementById("products_" + data_id);

            var product_name = product_btn.value;
            console.log('product_name = ' + product_name);
            // 상품 입력 검증
            if(product_name == '') {
                alert('상품을 입력해주세요');
                product_btn.focus();
                return false;
            }
            // 새로운 목록이면 모달 초기화
            var price_confirm = document.getElementById("price_" + data_id);
            var size_option = document.getElementById("size-option");
            var filling_option = document.getElementById("filling-option");
            var sheet_option = document.getElementById("sheet-option");
            var phrase_option = document.getElementById("phrase-option");
            var boxing_option = document.getElementById("boxing-option");
            size_option.disabled = false;
            phrase_option.disabled = false;
            sheet_option.disabled = false;
            filling_option.disabled = false;
            if(price_confirm.value == '') {
                var size_result = document.getElementById("div-size-result");
                var filling_result = document.getElementById("div-filling-result");
                var sheet_result = document.getElementById("div-sheet-result");
                var phrase_result = document.getElementById("div-phrase-result");
                var boxing_result = document.getElementById("div-boxing-result");
                // 사용자 view
                size_result.innerText = "선택없음";
                filling_result.innerText = "선택없음";
                sheet_result.innerText = "선택없음";
                phrase_result.innerText = "문구없음";
                boxing_result.innerText = "선택없음";
                // 가격 정보
                size_result.dataset.price = 0;
                filling_result.dataset.price = 0;
                sheet_result.dataset.price = 0;
                phrase_result.dataset.price = 0;
                boxing_result.dataset.price = 0;

            }
            // 전달받은 상품명으로 DB에서 조회
            var strurl = "option_view?product_name=" + product_name;
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4) {
                    var data = xhr.responseText;

                    var obj = JSON.parse(data);

                    // 가격 조회
                    document.getElementById('product-price').dataset.price = obj.product_price;

                    var size_option = document.getElementById("size-option");
                    var filling_option = document.getElementById("filling-option");
                    var sheet_option = document.getElementById("sheet-option");
                    var phrase_option = document.getElementById("phrase-option");
                    var boxing_option = document.getElementById("boxing-option");

                    // 조회결과 size테이블에 없다면 비활성화
                    if(obj.size.length == 0) {
                        size_option.disabled = true;
                        phrase_option.disabled = true;
                        sheet_option.disabled = true;
                        filling_option.disabled = true;
                    } else {
                        // 있으면 활성화 & size옵션에 value추가
                        var opt = "";
                        for(var i = 0; i < obj.size.length; i++) {
                            opt += "<option data-price='" + obj.size[i].size_price + "' value=" + obj.size[i].size_name + ">" + obj.size[i].size_name + " : +" + obj.size[i].size_price + "</option>";
                        }
                        size_option.innerHTML = opt;
                        var default_size = document.getElementById('div-size-result');
                        default_size.innerText = obj.size[0].size_name;
                        default_size.dataset.price = obj.size[0].size_price;
                        document.getElementById("size-result_" + data_id).value = default_size.innerText;
                    }

                }
            };
            xhr.open("POST", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        });



        // *** 주문번호 만들기
        // *** order_no (default: yyyymmdd-A/B/C/D-00)
        {#let $order_date = document.getElementById('currentDate1').value;#}
        {#console.log($order_date);#}
        {##}
        {#let $orderNo_date = $order_date.replaceAll("-", "");#}
        {#console.log($orderNo_date);#}
        {##}
        {#let $order_type = document.getElementById('order_type');#}
        {#let $order_type_option = $order_type.options[$order_type.selectedIndex].value;#}
        {#console.log($order_type_option)#}
        {##}
        {#let $option_value = $order_type.options[$order_type.selectedIndex].value;#}
        {#console.log($option_value);#}


        // 옵션 최종 등록, 주문 등록에 필요한 태그 세팅, 모달종료
        $('#final-option-result').on('click', function () {
            //$sizeOptionResult = document.getElementById('size-result').innerHTML;
            // $fillingOptionResult = document.getElementById('filling-result').innerHTML;
            // $sheetOptionResult = document.getElementById('sheet-result').innerHTML;
            // $boxingOptionResult = document.getElementById('boxing-result').innerHTML;
            // $phraseOptionResult = document.getElementById('phrase-result').innerHTML;
            var numbering = document.getElementById("numbering").value;
            var size = $('#size-result_' + numbering).val();
            var filling = $('#filling-result_' + numbering).val();
            var sheet = $('#sheet-result_' + numbering).val();
            var boxing = $('#boxing-result_' + numbering).val();
            var phrase = $('#phrase-result_' + numbering).val();
            var price = $('#price-result_' + numbering).val();

            var list = [size, filling, sheet, boxing, phrase];
            console.log(list);

            var finalOptionResult = "";

            for(var i = 0; i < list.length; i++) {
                if(list[i] == '') {
                    continue;
                } else if(list[i] != '') {
                    finalOptionResult += list[i];
                    finalOptionResult += " / ";
                }
            }

            var option_result = document.getElementById("input-option-result_" + numbering);
            option_result.value = finalOptionResult
            console.log(option_result.value);

            console.log('===========================');
            var product_price = document.getElementById('product-price').dataset.price;
            console.log(product_price);
            var size_price = document.getElementById('div-size-result').dataset.price;
            console.log(size_price);
            var sheet_price = document.getElementById('div-sheet-result').dataset.price;
            console.log(sheet_price);
            var boxing_price = document.getElementById('div-boxing-result').dataset.price;
            console.log(boxing_price);
            var filling_price = document.getElementById('div-filling-result').dataset.price;
            console.log(filling_price);
            var phrase_price = document.getElementById('div-phrase-result').dataset.price;
            console.log(phrase_price);

            // 상품1건에 대한 가격 합산
            var price1 = document.getElementById('price_' + numbering);
            price1.dataset.price = parseInt(product_price) + parseInt(size_price) + parseInt(sheet_price) + parseInt(filling_price) + parseInt(boxing_price) + parseInt(phrase_price);

            // 옵션 확정시 수량이 비어있다면 자동입력
            var count1 = document.getElementById('count_' + numbering);
            if(count1.value == '') {
                count1.value = 1;
            }
            price1.value = price1.dataset.price;
            $('#sizedModalLg').modal('hide');

            var product_tag = document.getElementById("products_" + numbering);
            product_tag.disabled = true;


        });
        // 수량 변경시 가격 계산
        $('.count_product').on('change', function () {
            console.log(event.currentTarget.dataset.id);
            var dataid = event.currentTarget.dataset.id;

            var counttag = document.getElementById('count_' + dataid);
            var pricetag = document.getElementById('price_' + dataid);
            var saleprice = pricetag.dataset.price;
            pricetag.value = saleprice * counttag.value;
        });



        function create_order() {
            event.preventDefault();
            var size = document.getElementById("size-result");
            var filling = document.getElementById("filling-result");
            var sheet = document.getElementById("sheet-result");
            var boxing = document.getElementById("boxing-result");
            var phrase = document.getElementById("phrase-result");
            var status = document.getElementById("status");

            console.log("size : " + size.value)
            console.log("filling : " + filling.value)
            console.log("sheet : " + sheet.value)
            console.log("boxing : " + boxing.value)
            console.log("phrase : " + phrase.value)
            console.log("status : " + status.value)

            var data = {"size":size.value};
            var datastr = JSON.stringify(data);

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4) {
                    var data = xhr.responseText;
                    var obj = JSON.parse(data);

                    console.log(obj);
                    console.log(obj.size);
                }
            }
            xhr.open("POST", 'post_create');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(datastr);
        }


    </script>
{% endblock javascript %}