{# ---------- 박진아 작업 ---------- #}

{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <style>
        #bootstrap-table {
            overflow-x: scroll;
            overflow-y: scroll;
        {#max-width: 100%;#}
            display: block;
            white-space: nowrap;
        }
        th, td{ text-align: center; }

        th {
            font-weight: bold;
        }
        .sorting, .sorting_asc {
            font-family: 'NanumSquareB';
        }
        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
{% endblock stylesheets %}

{% block body %}

    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

    <!-- *** 사이드 내비게이션 바 -->
    {% include 'navigation.html' %}

    <div class="main">

        <!-- *** 상위 내비게이션 바 *** -->
        {% include 'top-navigation.html' %}

        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        주문 목록
                    </h1>
                    <p class="header-subtitle">경로 작성하기</p>
                </div>

                <!-- *** 검색 바 *** -->
                {% include 'search_bar.html' %}


                <!-- *** 날짜 보기 / 선택 *** -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row col-12 col-xl-6">
                                        <div class="form-group" style="margin: 1rem;">
                                            <label class="form-label">시작일</label>
                                            <div class="input-group date" id="datetimepicker-date" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-date" />
                                                <div class="input-group-append" data-target="#datetimepicker-date" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin: 1rem;">
                                            <label class="form-label">종료일</label>
                                            <div class="input-group date" id="datetimepicker-date2" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-date2" />
                                                <div class="input-group-append" data-target="#datetimepicker-date2" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- *** 버튼 바 *** -->
                    <style>
                        .card {
                            margin: 0 auto; /* Added */
                            float: none; /* Added */
                            margin-bottom: 10px; /* Added */
                        }
                    </style>

                    <div class="col-12">
                        <div class="card" style="height: 50px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button class="btn btn-success">주문 목록 인쇄</button>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button class="btn btn-success">Excel 업로드</button>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button class="btn btn-success">Excel 다운로드</button>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button class="btn btn-success">개별 주문장 출력</button>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button class="btn btn-success">주문 수정</button>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button class="btn btn-success">주문 삭제</button>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center mr-auto" role="group" style="padding: 0 2px;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            상태변경
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">제작완료</a>
                                            <a class="dropdown-item" href="#">출고완료</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">출고보류</a>
                                            <a class="dropdown-item" href="#">출고취소</a>
                                            <a class="dropdown-item" href="#">기타</a>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group mb-4 align-items-center" role="group" style="padding: 0 2px;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            정렬
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">10개씩</a>
                                            <a class="dropdown-item" href="#">50개씩</a>
                                            <a class="dropdown-item" href="#">100개씩</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <a href="#" class="mr-1">
                                        <i class="align-middle" data-feather="refresh-cw"></i>
                                    </a>
                                    <div class="d-inline-block dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <i class="align-middle" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- *** Bootstrap 테이블 *** -->
                            <div class="col-12" style="padding: 0">
                                <div class="card w-100" style="">
                                    <table class="table table-bordered table-responsive table-sm"
                                           id="bootstrap-table">
                                        <thead>
                                        <tr style="font-family: 'NanumSquareL'" onmousedown="return false" onselect="return true">
                                            <th hidden="hidden">pno</th>
                                            <th style="width:40%;">
                                                주문 No.
                                                {#                                                <i class="align-middle mr-2 fas fa-fw fa-sort-down"></i>#}
                                            </th>
                                            <th style="width:25%">주문일자</th>
                                            <th class="d-none d-md-table-cell" style="width:25%">진행상태</th>
                                            <th>고객명</th>
                                            <th>품목</th>
                                            <th>사이즈</th>
                                            <th>시트</th>
                                            <th>필링</th>
                                            <th>포장</th>
                                            <th>문구</th>
                                            <th>수량</th>
                                            <th>금액</th>
                                            <th>주문경로</th>
                                            <th>결제방법</th>
                                            <th>결제여부</th>
                                            <th>수령인</th>
                                            <th>연락처</th>
                                            <th>수령방법</th>
                                            <th>수령주소</th>
                                            <th>상세주소</th>
                                            <th>납품일자</th>
                                            <th>납품시간</th>
                                            <th>주문메모</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orderDetail %}
                                            <!-- *** 주문 목록 테이블 상세 *** -->
                                            <tr id="order{{ order.order_no }}">
                                                <td hidden="hidden"><input hidden="hidden" name="pno" id="pno{{ order.pno }}" type="text" value="{{ order.pno }}"></td>
                                                <td>
                                                    <button type="button" id="modal{{ order.pno }}"
                                                            class="btn btn-info" data-toggle="modal" data-target="#sizedModalLg{{ order.pno }}"
                                                            style="">
                                                        {{ order.order_no }}
                                                    </button>
                                                </td>
                                                <td>{{ order.order_date }}</td>
                                                <td><span class="badge badge-success">{{ order.state }}</span></td>
                                                <td>{{ order.customer }}</td>
                                                <td>{{ order.product_name }}</td>
                                                <td>{{ order.size_option_name }}</td>
                                                <td>{{ order.sheet_option_name }}</td>
                                                <td>{{ order.filling_option_name }}</td>
                                                <td>{{ order.boxing_option_name }}</td>
                                                <td>{{ order.phrase }}</td>
                                                <td>{{ order.count }}</td>
                                                <td>{{ order.total_price }}</td>
                                                <td>{{ order.order_type_name }}</td>
                                                <td>{{ order.pay_type_name }}</td>
                                                <td>{{ order.pay_check }}</td>
                                                <td>{{ order.recipient }}</td>
                                                <td>{{ order.recipient_phone }}</td>
                                                <td>{{ order.delivery_option_name }}</td>
                                                <td>{{ order.address1 }}</td>
                                                <td>{{ order.address2 }}</td>
                                                <td>{{ order.receipt_date }}</td>
                                                <td>{{ order.receipt_hour }}</td>
                                                <td>{{ order.memo }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- *** 주문 상세 모달 *** -->
        <!-- 주문 상세/수정 modal -->
        {#        <button type="button" id="modal{{ order.pno }}" class="btn btn-primary" data-toggle="modal" data-target="#sizedModalLg{{ order.pno }}">#}
        {#            주문 상세 테스트 Modal#}
        {#        </button>#}
        {% for order in orderDetail %}
            <div class="modal fade" id="sizedModalLg{{ order.pno }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 style="font-family: 'NanumSquareB;" class="modal-title">주문 수정 (testing) </h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body m-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" method="get">
                                                <!-- 주문 접수자 / 주문번호 / 주문일자 / 주문경로 -->
                                                <input type="text" id="pno{{ order.pno }}" name="pno" value="{{ order.pno }}" readonly>
                                                <div class="form-row">
                                                    <div class="form-group col-md-2">
                                                        <label for="">주문 접수자</label>
                                                        <button style="border: none; background-color: transparent" id="">
                                                            <i class="align-middle mr-2 fas fa-fw fa-user-friends"></i>
                                                        </button>
                                                        <input type="text" class="form-control" name="employee_name" value="{{ order.employee_name }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="">주문 No.</label>
                                                        <input type="text" class="form-control" id="" value="{{ order.order_no }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="">주문일자</label>
                                                        <button style="border: none; background-color: transparent" id="select-order-person2">
                                                            <i class="align-middle mr-2 far fa-fw fa-calendar-alt"></i>
                                                        </button>
                                                        <input type="text" class="form-control" id="" value="{{ order.order_date }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="order-root">주문 경로</label>
                                                        <input type="text" class="form-control" id="" value="{{ order.order_type_name }}" readonly>
                                                    </div>
                                                </div>

                                                <!-- 고객명 / 연락처 / 수령방법 / 납품일자 / 도착시간 -->
                                                <div class="form-row">
                                                    <div class="form-group col-md-2">
                                                        <label for="inputCity">고객명</label>
                                                        <input type="text" class="form-control" name="" value="{{ order.customer }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="inputCity">연락처</label>
                                                        <input type="text" class="form-control" value="{{ order.customer_phone }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label for="order-root">수령방법</label>
                                                        <input type="text" class="form-control" value="{{ order.delivery_option_name }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="inputCity">납품일자</label>
                                                        <button style="border: none; background-color: transparent" id="select-order-person">
                                                            <i class="align-middle mr-2 far fa-fw fa-calendar-alt"></i>
                                                        </button>
                                                        <input type="text" class="form-control" id="" value="{{ order.receipt_date }}" readonly>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label for="inputCity">도착시간</label>
                                                        <button style="border: none; background-color: transparent" id="select-order-person">
                                                            <i class="align-middle mr-2 far fa-fw fa-clock"></i>
                                                        </button>
                                                        <input type="text" class="form-control" id="inputCity" value="{{ order.receipt_hour }}" readonly>
                                                    </div>
                                                </div>

                                                <!-- 품목 / 옵션 -->
                                                <div class="form-row">
                                                    <div class="form-group col-md-3">
                                                        <span>품목명</span>
                                                    </div>
                                                </div>
                                                <div class="card" id="item-card">
                                                    <div class="card-body">
                                                        <!-- 1번째 품목 -->
                                                        <div class="form-group row">
                                                            <button class="item-button" style="margin-left: 5px; border-color: white;
                                                background-color: #153d77; color: white">1</button>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" value="{{ order.product_name }}" readonly>
                                                            </div>

                                                            <!-- 옵션 결과 불러올 때, 전체 결과 조합해서 보여주기 -->
                                                            <button type="button" class="btn item-button"
                                                                    style="border-color: white;
                                                background-color: #153d77; color: white"
                                                                    data-toggle="modal" data-target="sizedModalLg{{ order.pno }}">+ 옵션추가</button>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" readonly
                                                                       value="{{ order.size_option_name }}">
                                                            </div>
                                                            <div class="col-md-1" style="padding-left: 0">
                                                                <input type="number" class="form-control" value="{{ order.count }}" readonly>
                                                            </div>
                                                            <label style="padding-right: 20px;" class="col-form-label" for="">개</label>
                                                            <button class="item-button"
                                                                    style="border-color: white;
                                                background-color: darkred; color: white">X</button>
                                                        </div>
                                                        <div class="form-group row justify-content-end">
                                                            <label style="padding-left: 20px;" class="col-form-label" for="">금액</label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" value="" readonly>
                                                            </div>
                                                        </div>

                                                        <!-- 상품 추가 버튼 -->
                                                        <div class="form-group row">
                                                            <button class="btn btn-block" id="add-product" style="margin-left: 50px; margin-top: 30px;
                                                 background-color: #153d77; color: white; width: 30%;">
                                                                + 상품 추가
                                                            </button>
                                                        </div>
                                                        <!-- 총 금액 표시 -->
                                                        <div class="form-group row" style="float: right; clear: both;">
                                                            <label style="padding-left: 20px;" class="col-form-label" for="">총</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" value="" readonly>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- 결제금액 / 결제여부 / 결제방법 -->
                                                <div class="form-row">
                                                    <div class="form-group col-md-2">
                                                        <label for="inputCity">결제금액</label>
                                                        <input type="text" class="form-control" id="" value="{{ order.total_price }}" readonly>
                                                    </div>
                                                    <div class="col-md-6" style="margin-bottom: 16px;">
                                                        <label for="inputCity">결제여부</label>
                                                        <div class="col-md-6" style="align-items: center;" id="radio-result">
                                                            <label class="form-check form-check-inline" style="margin-top: 8px; margin-right: 30px;">
                                                                <input class="form-check-input" type="radio" name="radio_pay_check_yes" value="{{ order.pay_check }}">
                                                                <span class="form-check-label">
												완료
											</span>
                                                            </label>
                                                            <label class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="radio_pay_check_no" value="{{ order.pay_check }}">
                                                                <span class="form-check-label">
												미완료
											</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4" style="margin-left: -200px;">
                                                        <label for="order-root">결제 방법</label>
                                                        <input type="text" class="form-control" id="" value="{{ order.pay_type_name }}" readonly>

                                                        {#                                                        <select class="form-control select1" data-toggle="select1"#}
                                                        {#                                                                style="" id="order-root">#}
                                                        {#                                                            <option value="카드">카드</option>#}
                                                        {#                                                            <option value="계좌이체">계좌이체</option>#}
                                                        {#                                                            <option value="직접 결제">직접 결제</option>#}
                                                        {#                                                        </select>#}
                                                    </div>
                                                </div>
                                                <!-- 동일인 체크 버튼 -->
                                                <div class="form-row" style="margin-top: 20px;">
                                                    <div class="form-inline">
                                                        <div class="custom-control custom-checkbox mb-1 mr-sm-2">
                                                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                            <label class="custom-control-label" for="customControlInline"
                                                                   style="color: darkgray; font-size: 13px;">주문 고객과 동일인</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- 수령인명 / 수령인 연락처 -->
                                                <div class="form-row" style="margin-top: 10px;">
                                                    <div class="form-group col-md-3">
                                                        <label for="">수령인명</label>
                                                        <input type="text" class="form-control" id="" value="{{ order.recipient }}">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="inputCity">수령인 연락처</label>
                                                        <input type="text" class="form-control" id="" value="{{ order.recipient_phone }}">
                                                    </div>
                                                </div>

                                                <!-- 수령인 주소 / 우편번호 검색 -->
                                                <div class="form-group row">
                                                    <label style="padding-left: 12px;padding-right: 10px;"
                                                           class="col-form-label" for="">수령인 주소</label>
                                                    <button style="border-color: white;
                                                background-color: #0d8ddc; color: white">우편번호 검색</button>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="" value="{{ order.address1 }}">
                                                    </div>
                                                    <div class="col-md-4" style="padding-left: 0;">
                                                        <input type="text" class="form-control" id="" value="{{ order.address2 }}">
                                                    </div>
                                                </div>

                                                <!-- 주문메모 -->
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label class="form-label">주문메모</label>
                                                        <textarea style="width: 100%;" class="form-control" rows="5" cols="">{{ order.memo }}</textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 주문 수정 / 삭제 버튼 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="button" id="modify-btn" class="btn btn-primary">수정</button>
                                <button type="button" id="delete-order-btn" class="btn btn-danger">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- END  modal -->



        <!-- *** footer *** -->
        {% include 'footer.html' %}

    </div>

    </div>

    <svg width="0" height="0" style="position:absolute">
        <defs>
            <symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
                <path
                        d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
                </path>
            </symbol>
        </defs>
    </svg>


{% endblock %}

{% block javascript %}

    <script src="{% static 'dist/js/app.js' %}"></script>
    <script src="{% static 'dist/js/settings.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


    <!-- *** 페이지네이션 *** -->
    <script>
        window.onload = function() {
            $(function() {
                $('#bootstrap-table').DataTable({
                    pageLength: 25,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Excel 다운로드<i class="align-middle mr-2 far fa-fw fa-file-excel"></i>',
                            titleAttr: 'Excel'
                        }
                    ],
                    ordering: false,
                    // columnDefs: {
                    //     className: "dt-center", targets: "_all"
                    // },
                    // lengthChange: false,
                    {#bFilter: true,#}
                    // autoWidth: true,
                    // autoAdjustHeight: true;
                    // autoplay: true,
                    // lengthAdjust: false,
                    // scrollY: "60vh",
                    // sScrollX: "100%",
                    // sScrollXInner: "50%",
                    // scrollCollapse: false,
                    // paging: true,
                    // responsive: true,
                });
                // $('#datatables-dashboard-products').closest('.dataTables_scrollBody').css('max-height', '100%');
                $('#bootstrap-table').DataTable().draw();

                var table = $('#bootstrap-table').DataTable();

                // 데이터 row 선택하기 (multiple rows selected)
                $('#bootstrap-table tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                        // $(this).toggleClass('selected');
                        $(this).css("background-color", "#F5E6C4");
                    }
                    else {
                        // table.$('tr.selected').removeClass('selected');
                        // $(this).addClass('selected');
                        $(this).toggleClass('selected');
                        $(this).css("background-color", "transparent");
                    }
                });
            });

            // DateTimePicker 원본 API
            $(function() {
                // Daterangepicker
                $("input[name=\"daterange\"]").daterangepicker({
                    opens: "left"
                });
                $("input[name=\"datetimes\"]").daterangepicker({
                    timePicker: true,
                    opens: "left",
                    startDate: moment().startOf("hour"),
                    endDate: moment().startOf("hour").add(32, "hour"),
                    locale: {
                        format: "M/DD"
                    }
                });
                $("input[name=\"datesingle\"]").daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true
                });
                var start = moment().subtract(29, "days");
                var end = moment();

                function cb(start, end) {
                    $("#reportrange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
                }

                $("#reportrange").daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                        "Today": [moment(), moment()],
                        "Yesterday": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                        "Last 7 Days": [moment().subtract(6, "days"), moment()],
                        "Last 30 Days": [moment().subtract(29, "days"), moment()],
                        "This Month": [moment().startOf("month"), moment().endOf("month")],
                        "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                    }
                }, cb);
                cb(start, end);

                // Datetimepicker
                $('#datetimepicker-date').datetimepicker({
                    format: 'L'
                });
                $('#datetimepicker-date2').datetimepicker({
                    format: 'L'
                });
            });


            $(function () {

                // CSS Work
                $(':input[readonly]').css({'background-color':'#ffffff'});

                console.log('hello this is modal start! ')

                // 주문 상세 모달
                {% for order in orderDetail %}
                    var pno = $('input[name="pno"]').val();
                    var real_pno = "{{ order.pno }}"
                    var order_type_value = "{{ order.order_type_name }}"
                    var pay_check_value = "{{ order.pay_check }}"

                    console.log("here pno------------"+pno)
                    console.log("here realpno------------"+real_pno)

                    var option_ordertype = $("#selectbox_ordertype option:selected").val();

                    // pay_check radio selected
                    if (pay_check_value == "O") {
                        $('input[name="radio_pay_check_yes"]').attr("checked", "checked");
                    } else if (pay_check_value == "X") {
                        $('input[name="radio_pay_check_no"]').attr("checked", "checked");
                    }

                    $.ajax({
                        type: 'GET',
                        url: '.',
                        success: function () {
                            // order_type_name
                            {#if order_type_value == option_order#}
                        },
                        error: function () {
                        }
                    });



                    $('#modal' + real_pno).on('click', function () {
                        $("#sizedModalLg{{ order.pno }}").modal({show:true});
                        $.ajax({
                            type: 'GET',
                            url: '/list/orderdetail?pno=' + real_pno,
                            data: {
                                pno: real_pno,
                            },
                            success: function (data) {
                                alert("ajax is working" + "\n" + real_pno + " 그리고 " + pno
                                    + "\n" + order_type_value)
                            },
                            error: function (data, error) {
                                console.log(data)
                                console.log(error)
                                alert('got an error!')
                            }
                        })
                    })
                    console.log('Bye! this is modal end!')


                    // Select Tag Value (order_type_name)




                {% endfor %}
            });
        }


    </script>

{% endblock javascript %}

