{% load static %}
<nav id="sidebar" class="sidebar">
	<a class="sidebar-brand" href="index.html">
		<svg>
			<use xlink:href="#ion-ios-pulse-strong"></use>
		</svg>
		MEEHONG
	</a>
	<div class="sidebar-content">
		<div class="sidebar-user">
			<img src="{% static 'assets/img/brands/meehong_logo.png' %}" class="img-fluid rounded-circle mb-2" alt="Linda Miller" />
			<div class="font-weight-bold">미 홍</div>
			<small>administrator</small>
		</div>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Main
			</li>
			<li class="sidebar-item">
				<a href="/list/first" class="sidebar-link">
					<i class="align-middle mr-2 fas fa-fw fa-list"></i> <span class="align-middle">전체 주문 목록</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/sheet/first" class="sidebar-link collapsed">
					<i class="align-middle mr-2 fas fa-fw fa-file"></i> <span class="align-middle">주문서 작성</span>
				</a>
			</li>
			<li class="sidebar-item active">
				<a href="/information/" class="sidebar-link collapsed">
					<i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
				</a>
			</li>

		</ul>
	</div>
</nav>